.item-number-wrapper {
    position: relative;
    width: 0;
}

.item-number-link {
    // absolute -left-9 bottom-0
    position: absolute;
    bottom: 0;
    text-decoration: none !important;
    &:hover {
        color: inherit !important;
        text-decoration: underline !important;
    }
    @apply -left-9;
    @apply text-gray-400 #{!important};
}
